<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <title>Кулинарный энтузиаст</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'recipes:home' %}">Главная</a>
    <a href="{% url 'recipes:all_recipes' %}">Все рецепты</a>
    {% if user.is_authenticated %}
      <a href="{% url 'recipes:recipe_add' %}">Добавить рецепт</a>
      <form class="exit" action="{% url 'recipes:logout' %}" method="post">
        {% csrf_token %}
        <button class="exitbutton" type="submit">Выйти</button>
      </form>
    {% else %}
      <a href="{% url 'recipes:login' %}">Войти</a>
      <a href="{% url 'recipes:signup' %}">Регистрация</a>
    {% endif %}
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>