* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  max-width: 500px;
}

form p {
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.exit {
  margin-left: auto;
}

.exit button {
  background-color: #993300;
  color: #fff;
}

.exit button:hover {
  background-color: #cc6600;
}