* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('../img/main2.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);

}


nav {
    height: 150px;
    background-image: url('../img/nav bag.jpg');
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: top;
    justify-content: start;
    margin-bottom: 20px;
    border: 5px solid #cc6600;
}

nav a {
    color: #fff;
    height: 16px;
    justify-content: flex-start;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    transition: color 0.3s ease;
}


nav a:hover {
    color: #d0ff42;
}

.logo {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    font-weight: bold;
    align-items: end;
}

main {
    padding: 20px;
}

h1, h2, p {
    color: #fff;
}

p {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 500px;
}

form p {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.exit {
    margin-left: auto;
}

.exit button {
    display: flex;
    align-items: end;
    margin-left: auto;
    justify-content: end;
    background-color: #993300;
    color: #fff;
    transition: color 0.3s ease;
}

.exit button:hover {
    background-color: #cc6600;
}

.welcome {
    text-align: center;
}


.recipe-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.recipes-items {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.recipe-image {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 5px solid #cc6600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.recipe-link {
    color: #fff;
    transition: color 0.3s ease;
}

.recipe-link:hover {
    color: #d0ff42;
}

.link-other {
    color: #d0ff42;
    transition: color 0.3s ease;
}

.footer {
    height: 50px;
    background-image: url('../img/nav bag.jpg');
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: top;
    justify-content: start;
    margin-bottom: 20px;
    border: 5px solid #cc6600;
    bottom: 0;
}
